
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutForm.cshtml";
}

<form class="bootstrap-frm" action="@Url.Action("Save")">
    <h1>模块管理 - 新增</h1>

    <label>
        <span>角色名称</span>
        <input type="text" name="RoleName" placeholder="请输入角色名称" />
    </label>
   

    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="保存" />
    </label>
</form>

