
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutForm.cshtml";
}

<form class="bootstrap-frm" action="@Url.Action("Insert")">
    <h1>角色模块管理 - 新增</h1>

    <label>
        <span>选择角色</span>
        @Html.DropDownList("RoleId",(IEnumerable<SelectListItem>)ViewBag.RolesOptions)
      
    </label>
    <label>
        <span>选择模块</span>
        @Html.DropDownList("ModuleId", (IEnumerable<SelectListItem>)ViewBag.ModuleOptions)
    </label>

    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="保存" />
    </label>
</form>

