
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutForm.cshtml";
}

<form class="bootstrap-frm" action="@Url.Action("Save")">
    <h1>用户管理 - 新增</h1>

    <label>
        <span>用户名称</span>
        <input type="text" name="UserName" placeholder="请输入用户名称" />
    </label>
    <label>
        <span>用户密码</span>
        <input type="text" name="PassWord" placeholder="请输入用户密码" />
    </label>

    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="保存" />
    </label>
</form>

