
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutForm.cshtml";
}

<form class="bootstrap-frm" action="@Url.Action("Save")">
    <h1>用户管理 - 编辑</h1>
    <label>
        <span>ID：</span>
        <input type="text" name="id" value="@Model.Id" readonly="readonly" />
    </label>
    <label>
        <span>用户名称</span>
        <input type="text" name="UserName" value="@Model.UserName" placeholder="请输入用户名称" />
    </label>
    <label>
        <span>用户密码</span>
        <input type="text" name="PassWord" value="@Model.PassWord" placeholder="请输入用户密码" />
    </label>


    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="编辑" />
    </label>
</form>

